# [Machine Learning - Kaggle Learn](https://www.kaggle.com/learn/machine-learning)

Machine learning is the hottest field in data science, and this track will get you started quickly.

<BR><BR><BR>

## [2. Explore Your Data](https://www.kaggle.com/dansbecker/explore-your-data)

Load data and set up your environment for your hands-on project

In [6]:
import pandas as pd

In [7]:
!ls .

kaggle-learn-ml.ipynb sample_submission.csv train.csv
melb_data.csv         test.csv

In [8]:
melb_file_path = 'melb_data.csv'
melb_data = pd.read_csv(melb_file_path)

melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [9]:
type(melb_data)

pandas.core.frame.DataFrame

In [10]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [11]:
# Show one column of data
melb_data.YearBuilt

0           NaN
1        1900.0
2        1900.0
3           NaN
4        2014.0
5           NaN
6        1910.0
7        1890.0
8           NaN
9        1900.0
10          NaN
11       2005.0
12       2009.0
13          NaN
14          NaN
15       1890.0
16       1880.0
17       1890.0
18          NaN
19       1985.0
20       1900.0
21       2010.0
22          NaN
23       1970.0
24       2013.0
25       1900.0
26          NaN
27       2012.0
28          NaN
29       1920.0
          ...
13550       NaN
13551    1970.0
13552       NaN
13553    1920.0
13554    1906.0
13555       NaN
13556    2003.0
13557    2012.0
13558       NaN
13559       NaN
13560    1963.0
13561       NaN
13562       NaN
13563    1950.0
13564    1970.0
13565       NaN
13566       NaN
13567       NaN
13568    1981.0
13569       NaN
13570       NaN
13571    1980.0
13572    2006.0
13573    1980.0
13574       NaN
13575    1981.0
13576    1995.0
13577    1997.0
13578    1920.0
13579    1920.0
Name: YearBuilt, Length: 13580, dtype: float64

In [12]:
# ".dropna()" drops missing values (na stands for N/A, "not available")
melb_data2 = melb_data.dropna(axis=0)

melb_data2.YearBuilt

1        1900.0
2        1900.0
4        2014.0
6        1910.0
7        1890.0
9        1900.0
11       2005.0
12       2009.0
15       1890.0
16       1880.0
17       1890.0
19       1985.0
20       1900.0
23       1970.0
24       2013.0
25       1900.0
27       2012.0
29       1920.0
32       1950.0
33       2013.0
34       1900.0
35       1998.0
36       1900.0
37       1930.0
38       2016.0
39       1965.0
40       1965.0
41       1950.0
42       2009.0
43       1980.0
          ...
12154    1970.0
12156    1890.0
12157    2000.0
12159    2000.0
12164    1965.0
12168    1930.0
12169    1999.0
12171    1985.0
12172    1994.0
12173    1950.0
12174    1980.0
12175    1970.0
12177    2004.0
12180    1970.0
12181    1970.0
12183    2010.0
12186    1999.0
12187    2011.0
12188    1980.0
12192    1985.0
12197    2002.0
12198    1980.0
12199    2013.0
12202    1997.0
12203    1975.0
12205    1996.0
12206    1890.0
12207    1967.0
12209    2012.0
12212    1920.0
Name: YearBuilt, Length: 6196, dtype: float64


## [4. Build Machine Learning Model](https://www.kaggle.com/dansbecker/your-first-machine-learning-model)

Building your first model. Hurray!

    The goal is to form a X-Y plane, 
    in which Y usually is the result we're predicting,
    X is the "feature" we're comparing with the result

In [13]:
y = melb_data.Price

In [14]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

X = melb_data[features]

X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [15]:
# show the first few rows
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

>

In [16]:
# step1: Define model

from sklearn.tree import DecisionTreeRegressor

melb_model = DecisionTreeRegressor(random_state=1)

In [17]:
# step2: Fit model
melb_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [27]:
# step3: Predict value
melb_model.predict(X.head())

array([1480000., 1035000., 1465000.,  850000., 1600000.])

In [26]:
# step4: Evaluate accuracy
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64