# [Machine Learning - Kaggle Learn](https://www.kaggle.com/learn/machine-learning)

Machine learning is the hottest field in data science, and this track will get you started quickly.

## [2. Explore Your Data](https://www.kaggle.com/dansbecker/explore-your-data)

Load data and set up your environment for your hands-on project

In [74]:
import pandas as pd

In [75]:
!ls .

kaggle-learn-ml.ipynb sample_submission.csv train.csv
melb_data.csv         test.csv

In [76]:
melb_file_path = 'melb_data.csv'
melb_data = pd.read_csv(melb_file_path)

melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [77]:
type(melb_data)

pandas.core.frame.DataFrame

In [78]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [79]:
# Show one column of data
melb_data.YearBuilt

0           NaN
1        1900.0
2        1900.0
3           NaN
4        2014.0
5           NaN
6        1910.0
7        1890.0
8           NaN
9        1900.0
10          NaN
11       2005.0
12       2009.0
13          NaN
14          NaN
15       1890.0
16       1880.0
17       1890.0
18          NaN
19       1985.0
20       1900.0
21       2010.0
22          NaN
23       1970.0
24       2013.0
25       1900.0
26          NaN
27       2012.0
28          NaN
29       1920.0
          ...
13550       NaN
13551    1970.0
13552       NaN
13553    1920.0
13554    1906.0
13555       NaN
13556    2003.0
13557    2012.0
13558       NaN
13559       NaN
13560    1963.0
13561       NaN
13562       NaN
13563    1950.0
13564    1970.0
13565       NaN
13566       NaN
13567       NaN
13568    1981.0
13569       NaN
13570       NaN
13571    1980.0
13572    2006.0
13573    1980.0
13574       NaN
13575    1981.0
13576    1995.0
13577    1997.0
13578    1920.0
13579    1920.0
Name: YearBuilt, Length: 13580, dtype: float64

In [80]:
# ".dropna()" drops missing values (na stands for N/A, "not available")
melb_data2 = melb_data.dropna(axis=0)

melb_data2.YearBuilt

1        1900.0
2        1900.0
4        2014.0
6        1910.0
7        1890.0
9        1900.0
11       2005.0
12       2009.0
15       1890.0
16       1880.0
17       1890.0
19       1985.0
20       1900.0
23       1970.0
24       2013.0
25       1900.0
27       2012.0
29       1920.0
32       1950.0
33       2013.0
34       1900.0
35       1998.0
36       1900.0
37       1930.0
38       2016.0
39       1965.0
40       1965.0
41       1950.0
42       2009.0
43       1980.0
          ...
12154    1970.0
12156    1890.0
12157    2000.0
12159    2000.0
12164    1965.0
12168    1930.0
12169    1999.0
12171    1985.0
12172    1994.0
12173    1950.0
12174    1980.0
12175    1970.0
12177    2004.0
12180    1970.0
12181    1970.0
12183    2010.0
12186    1999.0
12187    2011.0
12188    1980.0
12192    1985.0
12197    2002.0
12198    1980.0
12199    2013.0
12202    1997.0
12203    1975.0
12205    1996.0
12206    1890.0
12207    1967.0
12209    2012.0
12212    1920.0
Name: YearBuilt, Length: 6196, dtype: float64


## [4. Build Machine Learning Model](https://www.kaggle.com/dansbecker/your-first-machine-learning-model)

Building your first model. Hurray!

    The goal is to form a X-Y plane, 
    in which Y usually is the result we're predicting,
    X is the "feature" we're comparing with the result

In [81]:
y = melb_data.Price

In [82]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

X = melb_data[features]

X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [83]:
# show the first few rows
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

>

In [84]:
# step1: Define model

from sklearn.tree import DecisionTreeRegressor

melb_model = DecisionTreeRegressor(random_state=1)

In [85]:
# step2: Fit model
melb_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [86]:
# step3: Predict value
predicts = melb_model.predict(X)

predicts

array([1480000., 1035000., 1465000., ..., 1170000., 2500000., 1285000.])

In [87]:
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [88]:
# step4: Evaluate accuracy
from sklearn.metrics import mean_absolute_error


## ❌ Wrong comparison (In-sample comparison)
errors = mean_absolute_error(y, predicts)

print(errors)

1125.1804614629357

## [6. Model Validation](https://www.kaggle.com/dansbecker/model-validation)

Measure the performance of your model ? so you can test and compare alternatives

In [89]:
# Split dataset to Train group & Test group
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [90]:
## ❌ Wrong model
melb_model = DecisionTreeRegressor()
melb_model.fit(X_train, y_train)

predicts = melb_model.predict(X_test)

errors = mean_absolute_error(y_test, predicts)

## because the errors are huge!
print(errors)

240404.31281296024

## [10. Random Forests](https://www.kaggle.com/dansbecker/random-forests)

Using a more sophisticated machine learning algorithm.

In [97]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(random_state=1)

rf_model.fit(X_train, y_train)

predicts = rf_model.predict(X_test)

mean_absolute_error(y_test, predicts)

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

188984.57351146644

# Level2


## [1. Handling Missing Values](https://www.kaggle.com/dansbecker/handling-missing-values)

Learn multiple approaches for dealing with missing data fields

In [98]:
!ls

kaggle-learn-ml.ipynb sample_submission.csv train.csv
melb_data.csv         test.csv

In [110]:
# Load data
import pandas as pd
melb_data = pd.read_csv('melb_data.csv')

y = melb_data.Price
X = melb_data.drop(['Price'], axis=1)
X_numeric = X.select_dtypes(exclude=['object'])

In [113]:
# Load Model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_numeric,
                                                    y,
                                                    train_size=0.7,
                                                    test_size=0.3,
                                                   random_state=0)

def model_evaluation(X_train, X_test, y_train, y_test):
    # Step1
    model = RandomForestRegressor()
    # Step2
    model.fit(X_train, y_train)
    # Step3
    predicts = model.predict(X_test)
    # Step4
    errors = mean_absolute_error(y_test, predicts)
    
    return errors

In [120]:
# Train model from DROPPING COLUMNS
columns_missing = [c for c in X_train.columns
                           if X_train[c].isnull().any()]

print(columns_missing)

# Have to drop the same columns from both dataset
X_train_reduced = X_train.drop(columns_missing, axis=1)
X_test_reduced = X_test.drop(columns_missing, axis=1)

errors = model_evaluation(X_train_reduced, X_test_reduced, y_train, y_test)

print(errors)

['Car', 'BuildingArea', 'YearBuilt']

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

189881.36520092573

In [121]:
# Train model from IMPUTATION
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()

X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

errors = model_evaluation(X_train_imputed, X_test_imputed, y_train, y_test)

print(errors)

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

187058.05632115388

In [141]:
# Get Score from Imputation with Extra Columns Showing What Was Imputed
X_train_imputed_plus = X_train.copy()
X_test_imputed_plus = X_test.copy()

columns_missing = [c for c in X_train.columns
                           if X_train[c].isnull().any()]

print(columns_missing)

for c in columns_missing:
    X_train_imputed_plus[c + '_was_missing'] = X_train_imputed_plus[c].isnull()
    X_test_imputed_plus[c + '_was_missing'] = X_test_imputed_plus[c].isnull()

    
# print(X_train_imputed_plus)    
    
## impute
imputer = SimpleImputer()

X_train_imputed_plus = imputer.fit_transform(X_train_imputed_plus)
X_test_imputed_plus = imputer.transform(X_test_imputed_plus)

errors = model_evaluation(X_train_imputed_plus, X_test_imputed_plus, y_train, y_test)

print(errors)

['Car', 'BuildingArea', 'YearBuilt']

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

183198.38701521844


## [2. Using Categorical Data with One Hot Encoding](https://www.kaggle.com/dansbecker/using-categorical-data-with-one-hot-encoding)

Handle this important but challenging data type

In [172]:
# Usual approach
import pandas as pd
melb_data = pd.read_csv('melb_data.csv')
## Drop N/A in the dataset
melb_data.dropna(axis=0, subset=['Price'], inplace=True)

y = melb_data.Price


## Columns organizing
columns_missing = [c for c in melb_data.columns
                           if melb_data[c].isnull().any()]

X_train_candidates = melb_data.drop(['Price'] + columns_missing, axis=1)
X_test_candidates = melb_data.drop(columns_missing, axis=1)

columns_low_cardinality = [cname for cname in X_train_candidates.columns if
                                    X_train_candidates[cname].nunique() < 10 and
                                    X_train_candidates[cname].dtype == 'object']

columns_numeric = [cname for cname in columns_train.columns if
                          X_train_candidates[cname].dtype in ['int64', 'float64']]

my_columns = columns_low_cardinality + columns_numeric

X_train = X_train_candidates[my_columns]
X_test = X_test_candidates[my_columns]

X_train.head()

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Propertycount
0,h,S,Northern Metropolitan,2,2.5,3067.0,2.0,1.0,202.0,-37.7996,144.9984,4019.0
1,h,S,Northern Metropolitan,2,2.5,3067.0,2.0,1.0,156.0,-37.8079,144.9934,4019.0
2,h,SP,Northern Metropolitan,3,2.5,3067.0,3.0,2.0,134.0,-37.8093,144.9944,4019.0
3,h,PI,Northern Metropolitan,3,2.5,3067.0,3.0,2.0,94.0,-37.7969,144.9969,4019.0
4,h,VB,Northern Metropolitan,4,2.5,3067.0,3.0,1.0,120.0,-37.8072,144.9941,4019.0

In [178]:
# One-hot-encoding method for categorical data
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

def get_MAE(X, y):
    return -1 * cross_val_score(RandomForestRegressor(50),
                                X, y,
                                scoring = 'neg_mean_absolute_error').mean()

X_numeric = X_train.select_dtypes(exclude=['object'])
X_one_hot_encoded = pd.get_dummies(X_train)

errors_numeric_only = get_MAE(X_numeric, y)
errors_one_hot_encoded = get_MAE(X_one_hot_encoded, y)

print(errors_numeric_only)
print(errors_one_hot_encoded)

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1943: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1943: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

205032.83408867382
194037.5153784994


## [3. XGBoost](https://www.kaggle.com/dansbecker/xgboost)

The most important technique for building high-performance models on conventional data (the type that fits in tables or data frames.)

In [187]:
# Preparing data
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer


data = pd.read_csv('melb_data.csv')
data.dropna(axis=0, subset=['Price'])

y = data.Price
X = data.drop(['Price'], axis=1).select_dtypes(exclude=['object'])

X_train, X_test, y_train, y_test = train_test_split(X.as_matrix(),
                                                     y.as_matrix(),
                                                    test_size=0.25)
## impute nulls
imputer = Imputer()
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  del sys.path[0]
/Users/solomonxie/venv-ju/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

/Users/solomonxie/venv-ju/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [199]:
# Build XGBoost model
from xgboost import XGBRegressor

model = XGBRegressor()
model.fit(X_train, y_train, verbose=False)

# make predictions
predicts = model.predict(X_test)

# Evaluate model
from sklearn.metrics import mean_absolute_error
errors = mean_absolute_error(y_test, predicts)

print(errors)

189160.93010027384

In [217]:
# n_estimator & early_stopping_rounds & leanring_rate

from xgboost import XGBRegressor

model = XGBRegressor(n_estimators=1000, learning_rate=0.5)
model.fit(X_train, y_train, 
          early_stopping_rounds=50,
          eval_set=[(X_test, y_test)],
          verbose=False)

# make predictions
predicts = model.predict(X_test)

# Evaluate model
from sklearn.metrics import mean_absolute_error
errors = mean_absolute_error(y_test, predicts)

print(errors)

189309.24912670287

In [ ]:
# Learning Rate